.gradle/
build/

*.iml
.idea/
.cxx/
.externalNativeBuild/
captures/

local.properties

.kotlin/

*.apk
*.aab
*.ap_
*.dex
output.json

.DS_Store
Thumbs.db

keystore.properties
*.jks
*.keystore
/signing/private/

google-services.json
app/google-services.json
app/google-services.json*

*.bak
